.interest-gaming {
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid green;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
}
.gaming-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    gap: 5%;
}
.interest-gaming-image {
    height: auto;
    max-width: 600px;
    object-fit: contain;
    flex: 1;
}
.interest-gaming-text {
    flex: 1;
}