.interest-computer {
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid rgb(0,152,255);
    margin: 0 auto;
    padding: 10px;
    background-color: black;
}
.computer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    gap: 5%;
}
.interest-computer-image {
    max-height: 400px;
    width: auto;
    object-fit: contain;
    flex: 1;
}
.interest-computer-text {
    flex: 1;
}