.navbar {
    /*background-color: #333; */
    background-color: #FFFAFA;
    padding: 0px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
    /*opacity: 1;
    transition: opacity 0.3s ease-in-out;*/
    transition: transform 0.2s ease-in-out;
        
    /*height: 10.25vh;        */
}



.navbar-hidden {
    transform: translateY(-100%); /* Move navbar off-screen */
}
  
.navbar-visible {
    transform: translateY(0); /* Bring navbar into view */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

}

@media (max-width: 1030px) {
    .nav-container {
        max-width: 90vw;
    }
}

@media(min-width: 2000px) {
    .nav-container {
        max-width: 50vw;
    }
}

.nav-logo-container{
    color: #003C5D;
    font-size: 24px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .6rem
    
}
.nav-logo {
    max-width: 3rem;
}

.nav-menu {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}
.nav-links {
    text-decoration: none;
    font-size: 18px;
    color: #003C5D;
}

@media(min-width: 2000px) {
    .nav-logo-container {
        font-size: 26.4px;
    }
    .nav-logo {
        max-width: 3.3rem;
    }
    .nav-links {
        font-size: 19.8px;

    }
}


.nav-links:hover {
    color: orange;
    /*#FF5722*/
}
.contact-button {
    padding: 5px;
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 3px;
    /* #f57c00   #ff6f00 */
}
.contact-button:hover {
    background-color: orangered;
}

.nav-hamburger {
    display: none;
}

.nav-hamburger-icon {
    height: 30px;
}

@media (max-width: 790px) {
    .nav-hamburger {
        display: block;
    }
    .nav-menu {
        display: none;
    }
}

