.project-instance {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.project-instance-box {
    background-color: white;
    color: black;
    height: 75%;
    width: 45%;
    z-index: 1001;
    padding: auto;
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    padding: 10px;
}
.project-instance-x-button {
    margin: px;
    height: 40px; 
    position: absolute; 
    cursor: pointer;
}

.project-instance-box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 100%;
}
.project-instance-box-img {
    width: 80%;
    height: auto;
    flex-shrink: 0;
}
.project-instance-box-text{
    max-width: 80%;
}
@media(max-width: 1000px) {
    .project-instance-box {
        width: 80%;
    }
}