.projectspage-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    padding: 40px;
    margin: auto;
    gap: 20px;
}

.projectspage-box {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.projectspage-box-image {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
}
@media(max-width: 1000px) {
    .projectspage-container{
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .projectspage-box-image {
        height: 27vw;
        width: 27vw;
    }
    .projectspage-box-name {
        font-size: 2vw;
    }
    
}
.projectspage-box-name-container {
    background-color: rgba(42, 66, 125, 0.5);
    position: absolute;
    top: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

